<section class="sectionContainer mb-3">
  <div class="topContainer">
    <h2>Blog</h2>
    <p>Ready to stay up to date? Take look through some of my blog posts!</p>
    {{#if isLoggedIn}}
      <a href="blogpost-form" class="btn btn-primary">Add Blog Post</a>
    {{/if}}
  </div>
  {{#if blogposts.length}}
    {{#each blogposts}}
      <div class="card mb-2">
        <div class="card-header">
          <div class="card-title h5">{{title}}</div>
          <div class="card-subtitle text-gray">{{date}}</div>
        </div>
        <div class="card-body">
          {{description}}
        </div>
        <div class="card-footer">
          <a href="/blog-users/{{id}}" class="btn btn-primary">Read</a>
        </div>
      </div>
    {{/each}}
  {{else}}
    <p>Sorry, but I don't have blog posts to show for now.</p>
  {{/if}}
</section>