<section class="sectionContainer mb-3">
  <div class="topContainer">
    <h2>Guestbook</h2>
    <p>Wanna leave a nice remark? Write a comment here!</p>
    <a href="/guestbook-form" class="btn btn-primary">Write comment</a>
  </div>
  {{#if guestbookEntries.length}}
    {{#each guestbookEntries}}
      <div class="tile">
        <div class="tile-content">
          <p class="tile-title"><strong>{{name}}</strong></p>
          <p class="text-gray">{{currentDateStamp}}</p>
          <p class="tile-subtitle">{{comment}}</p>
        </div>
        <div class="tile-action flex-buttons">
          {{#if ../isLoggedIn}}
            <a
              href="/update-guestbook/{{id}}"
              class="btn btn-primary mr-2"
            >Update</a>
            <form action="/delete-guestbookEntry/{{id}}" method="POST">
              <input class="btn warningButton" type="submit" value="Delete" />
            </form>
          {{/if}}
        </div>
      </div>
    {{/each}}
  {{else}}
    <p>There are no comments yet. You wanna be the first?</p>
  {{/if}}
</section>