<section class="sectionContainer mb-2">
  <form action="/delete-projects/{{projects.id}}" method="POST">
    <input class="btn warningButton" type="submit" value="Delete" />
  </form>
  <h2>{{project.name}}</h2>
  <div class="imageContainer mb-2">
    <img src={{project.image}} alt="picture of lake" />
  </div>
  <aside class="mb-2"><strong>{{project.date}}</strong></aside>
  <p>{{project.content}}</p>
</section>