<section class="sectionContainerProjects">
  <div class="topContainer">
    <h2>Projects</h2>
    <p>Here you can find all my project. Have fun browsing!</p>
    <a href="projects-form" class="btn btn-primary">Create New Project</a>
  </div>
  <container class="projectsGrid">
    {{#if projects.length}}
      {{#each projects}}
        <div class="card">
          <div class="card-image">
            <img src={{image}} class="img-responsive" />
          </div>
          <div class="card-header">
            <div class="card-title h5">{{name}}</div>
            <div class="card-subtitle text-gray">{{date}}</div>
          </div>
          <div class="card-body">
            {{description}}
          </div>
          <div class="card-footer">
            <a href="/projects-users/{{id}}" class="btn btn-primary">More</a>
          </div>
        </div>
      {{/each}}
    {{else}}
      <p>Sorry, but I don't have projects to show for now.</p>
    {{/if}}
  </container>
</section>