<section class="sectionContainer mb-3">
  <h2>Create New Project</h2>
  {{#if errors.length}}
    <p>Couldn't create a project. Make sure that...</p>
    {{#each errors}}
      <div class="toast toast-warning mb-2">{{this}}</div>
    {{/each}}
  {{/if}}
  <form action="/projects-form" method="POST">
    <label class="form-label" for="input-name">Name of the project</label>
    <input class="form-input" type="text" id="input-name" placeholder="Blog title here" name="name" value="{{name}}">
    <label class="form-label" for="input-date">Date</label>
    <input class="form-input" type="date" id="input-date" name="date" value="{{date}}">
    <label class="form-label" for="input-information">Information about the project</label>
    <textarea class="form-input mb-2" id="input-information" placeholder="Start writing here." rows="10" name="content">{{content}}</textarea>
    <label class="form-label" for="input-description">Short description</label>
    <textarea class="form-input mb-2" id="input-description" placeholder="Short Description here." rows="4" name="description">{{description}}</textarea>
    <label class="form-label" for="input-imageurl">Image URL</label>
    <input class="form-input" type="text" id="input-imageurl" placeholder="Insert image URL here" name="image" value="{{image}}">
    <input class="btn btn-primary mt-2" type="submit" value="Submit">
  </form>
</section>