<section class="sectionContainer">
  <h2>Update Blog Post</h2>
  {{#if validationErrors.length}}
    <p>Couldn't update the blog post. Make sure that...</p>
    {{#each validationErrors}}
      <div class="toast toast-warning mb-2">{{this}}</div>
    {{/each}}
  {{/if}}
  <form method="POST">
    <label class="form-label" for="input-name">Title</label>
    <input
      class="form-input"
      type="text"
      id="input-name"
      placeholder="Blog title here"
      name="title"
      value="{{blogposts.title}}"
    />
    <label class="form-label" for="input-date">Date</label>
    <input class="form-input" type="date" id="input-date" name="date" value="{{blogposts.date}}">
    <label class="form-label" for="input-text">Blog Post Text</label>
    <textarea
      class="form-input mb-2"
      id="input-text"
      placeholder="Start writing here."
      rows="10"
      name="content"
    />{{blogposts.content}}</textarea>
    <label class="form-label" for="input-description">Short description</label>
    <textarea
      class="form-input mb-2"
      id="input-description"
      placeholder="Start writing here."
      rows="3"
      name="description"
    />{{blogposts.description}}</textarea>
    <input class="btn btn-primary" type="submit" value="Update">
  </form>
</section>